ctx = '.goods-card'
{ctx} {
  &__main{
    display: flex;
  	flex-flow: row wrap;
  	flex: 0 1 auto;
  	justify-content: space-between;
    background-color: #fff;
  }

  &__header, &__slider, &__information{
    flex: 1 100%;
  }


  &__header{
    border-bottom: 1px solid #e6e6e6;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__slider, &__information{
    overflow: hidden;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 48em){
    &__slider{
      width: 50%;
      flex: 1 auto;
    }

    &__information{
      width: 50%;
      padding-left: 1rem;
      flex: 1 auto;
    }
  }

  @media only screen and (min-width: 75em){
    &__slider{
      width: 50%;
    }

    &__information{
      width: 50%;
      padding-left: 1rem;
    }
  }
}
